<div class="container">
    <table class="table" style="width:100%">
        <col style="width:5%">
        <col style="width:15%">
        <col style="width:30%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:15%">
        <col style="width:15%">
        <thead>
            <tr class="active">
                <th>No.</th>
                <th>Name</th>                      
                <th>Email</th>                
                <th>Gender</th>
                <th>Coin</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="table_body">
            <tr ng-repeat="user in users" class="active">
                <th class="danger middleText">{{$index}}</th>
                <th>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" ng-src="{{user.avatar_url}}" width="50" height="50">
                            </a>
                        </div>
                        <div class="media-body mediaName">
                            <p class="media-heading">{{user.userName}}</p>
                        </div>
                    </div>                
                </th>
                <th class="middleText">{{user.email.address}}</th>            
                <th class="middleText">{{user.gender}}</th>
                <th class="middleText">{{user.coin}}</th>
                <th class="middleText">{{user.phoneNumber.number}}</th>
                <th><button class="btn btn-lg btn-block btn-success" ng-click="getUser(user._id)">Show...</button></th>       
            </tr>
        </tbody>
    </table>
</div>