<div class="container">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" ng-src="{{img_url}}" width="50" height="50">
            </a>
        </div>
        <div class="media-body mediaName">
            <h2 class="media-heading">{{userName}}</h2>
        </div>
    </div>
    <p>&nbsp;</p>
    <h3>Messages(In)</h3>
    <table class="table" style="width:100%">
        <col style="width:5%">
        <col style="width:8%">
        <col style="width:8%">
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:10%">
        <col style="width:20%">
        <col style="width:13%">
        <col style="width:30%">
        <col style="width:8%">
        <thead>
            <tr class="active">
                <th>No.</th>
                <th>From</th>
                <th>To</th>                       
                <th>View Cost</th>
                <th>View Reply</th>
                <th>Text</th>
                <th>Content</th>                
                <th>IsPhoto?</th>
                <th>Creted Time</th>
                <th>Received</th>
            </tr>
        </thead>
        <tbody id="table_body">
          <tr ng-repeat="item in message.in" class="success center">
            <th class="danger">{{$index}}</th>
            <th>{{item.senderName}}</th>
            <th>{{item.receiverName}}</th>
            <th>{{item.cost.view}}</th>
            <th>{{item.cost.replay}}</th>
            <th>{{item.content.text}}</th>
            <th>               
                <img class="media-object" ng-src="{{item.content.url}}" ng-if="item.isPhoto">
                <div class="embed-responsive embed-responsive-4by3" ng-if="!item.isPhoto">
                    <video autoplay="autoplay" preload="auto" loop="loop" controls="controls" ng-src="{{inUrl[$index]}}"></video>
                </div>
            </th>
            <th>{{item.isPhoto}}</th>
            <th>{{item.create}}</th>
            <th>
                <span class="input-group-addon">
                    <input type="checkbox" ng-checked="item.isReceived" readonly>
                </span>
            </th>
          </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p width="100%" align="center" ng-if="message.in.length==0">no items</p>
    <p>&nbsp;</p>
    <h3>Messages(Out)</h3>
    <table class="table" style="width:100%">
        <col style="width:5%">
        <col style="width:8%">
        <col style="width:8%">
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:10%">
        <col style="width:20%">
        <col style="width:13%">
        <col style="width:30%">
        <col style="width:8%">
        <thead>
            <tr class="active">
                <th>No.</th>
                <th>From</th>
                <th>To</th>                       
                <th>View Cost</th>
                <th>View Reply</th>
                <th>Text</th>
                <th>Content</th>                
                <th>IsPhoto?</th>
                <th>Creted Time</th>
                <th>Received</th>
            </tr>
        </thead>
        <tbody id="table_body">
          <tr ng-repeat="item in message.out" class="success center">
            <th class="danger">{{$index}}</th>
            <th>{{item.senderName}}</th>
            <th>{{item.receiverName}}</th>
            <th>{{item.cost.view}}</th>
            <th>{{item.cost.replay}}</th>
            <th>{{item.content.text}}</th>
            <th>
                <img class="media-object" ng-src="{{item.content.url}}" ng-if="item.isPhoto">
                <div class="embed-responsive embed-responsive-4by3" ng-if="!item.isPhoto">
                    <video autoplay="autoplay" preload="auto" loop="loop" controls="controls" ng-src="{{outUrl[$index]}}"></video>
                </div>
            </th>
            <th>{{item.isPhoto}}</th>
            <th>{{item.create}}</th>
            <th>
                <span class="input-group-addon">
                    <input type="checkbox" ng-checked="item.isReceived" readonly>
                </span>
            </th>
          </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p width="100%" align="center" ng-if="message.out.length==0">no items</p>
</div>