<div class="container">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" ng-src="{{img_url}}" width="50" height="50">
            </a>
        </div>
        <div class="media-body mediaName">
            <h2 class="media-heading">{{userName}}</h2>
        </div>
    </div>
    <p>&nbsp;</p>
    <h3>Push Histories</h3>
    <table class="table" style="width:100%">
        <col style="width:5%">
        <col style="width:15%">
        <col style="width:50%">
        <col style="width:30%">
        <thead>
            <tr class="active">
                <th>No.</th>                        
                <th>To</th>
                <th>Content</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="table_body">
          <tr ng-repeat="item in pushHis" class="success center">
            <th class="danger">{{$index}}</th>
            <th>{{item.targetName}}</th>
            <th>{{item.content}}</th>
            <th>{{item.time}}</th>
          </tr>          
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p width="100%" align="center" ng-if="pushHis.length==0">no items</p>
</div>