<div class="container">
  <br/>

  <div class="row">
    <div class="center-form panel">
      <form method="post" ng-submit="signup()" name="signupForm">
        <div class="panel-body">
          <h2 class="text-center">Reset User</h2>
          <p>&nbsp;</p>
          <div class="form-group" ng-class="{ 'has-success' : signupForm.oldPassword.$valid && signupForm.oldPassword.$dirty, 'has-error' : signupForm.oldPassword.$invalid && signupForm.oldPassword.$dirty }">
            <input class="form-control input-lg" type="password" name="oldPassword" ng-model="oldPassword" placeholder="Old Password" required autofocus>
            <div class="help-block text-danger" ng-if="signupForm.oldPassword.$dirty" ng-messages="signupForm.oldPassword.$error">
              <div ng-message="required">Old Password is required.</div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success' : signupForm.name.$valid && signupForm.name.$dirty, 'has-error' : signupForm.name.$invalid && signupForm.name.$dirty }">
            <input class="form-control input-lg" type="text" id="name" name="name" ng-model="name" placeholder="UserName" required>
            <div class="help-block text-danger" ng-if="signupForm.name.$dirty" ng-messages="signupForm.name.$error">
              <div ng-message="required">Your name is required.</div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success' : signupForm.password.$valid && signupForm.password.$dirty, 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
              <div ng-message="required">Password is required.</div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success' : signupForm.confirmPassword.$valid && signupForm.confirmPassword.$dirty, 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
            <input class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" repeat-password="password" placeholder="Confirm Password" required>
            <div class="help-block text-danger my-special-animation" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
              <div ng-message="required">You must confirm password.</div>
              <div ng-message="repeat">Passwords do not match.</div>
            </div>
          </div>
          <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Reset Account</button>
        </div>
      </form>
    </div>
  </div>
</div>