<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail" style="background: url({{user.background_url}}) no-repeat center fixed; background-size: cover" id="userImgDiv">
                <img ng-src="{{user.avatar_url}}" class="img-circle">
                <div class="caption" id="user_div">                    
                    <p><kbd>Email: {{user.email.address}} <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="user.email.verified"></span></kbd></p>
                    <p><kbd>Name: {{user.userName}}</kbd></p>
                    <p><kbd>Description: {{user.description}}</kbd></p>
                    <p><kbd>Gender: {{user.gender}}</kbd></p>
                    <p><kbd>Coin: {{user.coin}}</kbd></p>
                    <p><kbd>CostReply: {{user.costReply}}</kbd></p>
                    <p><kbd>Phone: {{user.phoneNumber.number}} <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="user.phoneNumber.verified"></span></kbd></p>
                    <p><kbd>Follower: {{user.follower.length}}</kbd></p>
                    <p><kbd>Following: {{user.following.length}}</kbd></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="center-form panel">
                    <div class="panel-body">
                        <h2 class="text-center">Change UserInfo</h2>
                        <p>&nbsp;</p>
                        <form method="post" ng-submit="change()" name="changeForm">
                            <div class="form-group">
                                <input class="form-control input-lg" type="text" name="name" ng-model="name" placeholder="UserName" required autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" type="number" name="coin" ng-model="coin" placeholder="UserCoin" required min=0>
                            </div>
                            <button type="submit" ng-disabled="changeForm.$invalid" class="btn btn-lg btn-block btn-success">Change</button>
                        </form>
                    </div>
                </div> 
                <p>&nbsp;</p>
                <button class="btn btn-block btn-success" ng-click="getTransaction(user._id)">View Transaction</button>
                <p>&nbsp;</p>
                <button class="btn btn-block btn-success" ng-click="getMessage(user._id)">View Message</button>
                <p>&nbsp;</p>
                <button class="btn btn-block btn-success" ng-click="getPushHis(user.userName)">View PushHistory</button>
            </div>
        </div>
    </div>
</div>