#userImgDiv {
	width: 400px;
	height: 600px;
	text-align: center;
}

#userImgDiv img {
	margin-top: 50px;
	width: 150px;
	height: 150px;
	background-color: white;
}

input:read-only {
	background-color: white !important;
	text-align: center;
}

.mediaName {
	vertical-align: middle;
	margin-left: 10px;
}

#veil {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	cursor: not-allowed;
	filter: alpha(opacity=60);
	opacity: 0.7;
	background-color: #000;
	z-index: 999;
}

.middleText {
	vertical-align: middle !important;
}

#user_div {
	padding: 50px;
	text-align: left
}