<!doctype html>
<html ng-app="FamestarApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Famestar</title>  
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <link href="stylesheets/main.css" rel="stylesheet"/>
    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/spin.min.js"></script>
    <script type="text/javascript" src="lib/angular-spinner.min.js"></script>
    <script type="text/javascript" src="lib/angular-loading-spinner.js"></script>
</head>
<body>
    <div us-spinner="{radius:30, width:8, length: 16, shadow: true, color: '#fff'}" id="veil"></div>
    <div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">
            <span class="glyphicon glyphicon-film"></span>
            Fame<strong>Star</strong></a>
        </div>
        <ul class="nav navbar-nav" ng-if="isAuthenticated">
            <li><a href="javascript:void(0)" ng-click="back()">Back</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right" ng-if="!isAuthenticated">
            <li data-match-route="/login"><a href="/login">Login</a></li>
            <li data-match-route="/resetUser"><a href="/resetUser">Reset</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right" ng-if="isAuthenticated">
            <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
        </ul>   
    </div>
    <div ng-view></div>    
    <script src="lib/angular-strap.min.js"></script>
    <script src="lib/angular-strap.tpl.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/angular-cookies.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/login.js"></script>
    <script src="controllers/resetUser.js"></script>
    <script src="controllers/main.js"></script>
    <script src="controllers/user.js"></script>
    <script src="controllers/transaction.js"></script>
    <script src="controllers/message.js"></script>
    <script src="controllers/pushHis.js"></script>
    <script src="services/repeatPassword.js"></script>
    <script src="services/auth.js"></script>
    <script src="controllers/navbar.js"></script>
</body>
</html>